<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.yuntechlifeadmin.dao.adminUser.AdminLoginRecordMapper">
    <select id="getByIp" parameterType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord"
            resultType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord">
        select * from admin_login_record where ip=#{ip} order by add_time desc limit 1
    </select>
    <insert id="insertOne" parameterType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord">
        insert into admin_login_record
        values(0,#{user_id},#{state},#{type},#{ip},#{position},#{longitude},#{latitude},#{system},#{browser},#{header},#{token},false,CURRENT_TIMESTAMP())
    </insert>
    <select id="getList" parameterType="com.boot.yuntechlifeadmin.entity.adminUser.AdminUser"
            resultType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord">
        select id,state,type,ip,position,longitude,latitude,system,browser,add_time from admin_login_record where
        user_id=#{id} and deleted=false
        <if test="keyword!=null and keyword!=''">and (ip like CONCAT('%',#{keyword},'%') or position like
            CONCAT('%',#{keyword},'%') or system like CONCAT('%',#{keyword},'%') or browser like
            CONCAT('%',#{keyword},'%'))
        </if>
        <if test="state!=null and state!=''">and state=#{state}</if>
        <if test="type!=null and type!=''">and type=#{type}</if>
        <if test="startTime!=null">and add_time&gt;=#{startTime}</if>
        <if test="endTime!=null">and add_time&lt;=#{endTime}</if>
    </select>
    <update id="deleteOne" parameterType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord">
        update admin_login_record set deleted=true where user_id=#{user_id} and id=#{id} and deleted=false limit 1
    </update>
    <update id="deleteMore" parameterType="com.boot.yuntechlifeadmin.entity.adminUser.AdminLoginRecord" >
        update admin_login_record set deleted=true where user_id=#{user_id}
        and id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">#{id}</foreach>
         and deleted=false
    </update>
</mapper>